#orgs {
    display: grid;
}

#orgs-header {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-bottom: 2px solid #02313C;
}

#orgs-btns {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#org-settings button {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    height: 54px;
    width: 54px;
    background-color: rgb(120, 221, 111);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin: 0px auto 20px auto;
}

#org-settings button:hover {
    background-color: rgb(133, 245, 123);
    color: #000000;
}

#org-invites button {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    height: 54px;
    width: 54px;
    background-color: rgb(84, 255, 226);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin: 0px auto 20px auto;
}

#org-invites button:hover {
    background-color: rgb(73, 224, 199);
    color: #000000;
}