.main {
    height: 100vh;
}
.background-view {
    background-color: #1A1D21;
}

.main-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 5% 20% 75%;
}

.org-wrapper {
    background-color: #011F26;
    border-right: 1px solid #02313C;
    margin: 0;
    padding-right: 0 !important;
}

.sidebar-wrapper {
    background-color: #011F26;
    border-right: 1px solid #02313C;
    margin: 0;
    padding-right: 0 !important;
}

.chat-wrapper {
    margin: 0;   
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h1 {
    font-size:1.5em !important;
}

