
.channel-name-label {
	display: flex;
	flex-direction: column;
	width: 100%
}

#private-section {
	display: block;
	padding: 0px 28px;
	background-color: rgb(26,29,33)
}

#private-label {
	display: flex;
	justify-content: space-between;
}


.create-channel-description {
	box-sizing: inherit;
	align-items: center;
	display: flex;
	min-height: 70px;
	padding: 0px 28px;
	width: 100%;
	background-color: rgb(26,29,33)
}
h1 {
	font-size: 28px;
	font-weight: 900;
	line-height: 34px;
}

h4 { 
	font-size: 15px;
	font-weight: 700px;
	margin-bottom: 0;
}

.modal-title {
	color: rgb(255,255,255);
}

p {
	font-size: 15px;
	font-weight: 400px;
	margin-bottom: 0;
	line-height: 22px;
	color: rgb(255,255,255);
}

label {
	font-weight: 500;
}

input {
	margin: 0 0 20px;
	color: rgb(29,28,29);
	background-color: rgb(255,255,255);
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 12px;
	height: 100%;
	border-radius: 4px;
	border: 1px solid rgb(134 134 134);
	transition: border 80ms ease-out,box-shadow 80ms ease-out;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	line-height: 1.33334;
	font-weight: 400;
	padding-left: 36px;
	padding-right: 46px;
}

button.close {
	color: rgb(204,199,192);
}

button.close:hover {
	color: #ebeff3
}

button:focus {
	outline:none;
}

