body {
    height: 100%;
}

#box-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#box-first{
    height: 8vh; 
}

#box-fill {
    display: flex;
    height: 84vh;
    flex-direction: column;
    align-items: flex-end;
}

.messages-wrapper {
    display: flex;
    overflow: auto;
    scrollbar-color: #c3c3c3 #1A1D21;
}

#box-end {
    height: 6vh;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: flex-end;
}

.messages-wrapper::-webkit-scrollbar {
    width: 0.1px !important;
}

/* Track */
.messages-wrapper::-webkit-scrollbar-track {
    background: transparent !important; 
}

/* Handle */
.messages-wrapper::-webkit-scrollbar-thumb {
    background: transparent !important; 
}

/* Handle on hover */
.messages-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent !important; 
}