/* body {
    height: 100%;
} */
#chat {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#box-first{
    grid-row-start: 1;
    grid-row-end: 2; 
    margin: 0;
}

#box-fill {
    height: 86vh;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.messages-wrapper {
    display: flex;
    overflow: auto;
    scrollbar-color: #c3c3c3 #1A1D21;
}

#box-end {
    display: flex;
    align-items: flex-end;
    grid-row-start: 3;
    grid-row-end: 4; 
}

.messages-wrapper::-webkit-scrollbar {
    width: 0.1px !important;
}

/* Track */
.messages-wrapper::-webkit-scrollbar-track {
    background: transparent !important; 
}

/* Handle */
.messages-wrapper::-webkit-scrollbar-thumb {
    background: transparent !important; 
}

/* Handle on hover */
.messages-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent !important; 
}