body {
    height: 100%;
}

#box-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#box-first{
    height: 10vh;
}

#box-fill {
    height: 80vh;
    flex: 1;
}

#box-end {
    height: 15vh;
}