.custom-form {
	font-family: sans-serif;
	background-color: rgb(26,29,33);
    color: rgb(209,210,211);
    display: block;
	align-items: center;
	min-height: 70px;
	padding: 10px 28px;
	width: 100%;
}