.org {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    height: 48px;
    width: 48px;
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
}