.modalHeader, .footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	font-weight: 900;
	border: 0;
	padding: 20px;
}

.modalBody {
	padding: 0 20px;
}

.subtitle {
	box-sizing: inherit;
	align-items: center;
	display: flex;
	min-height: 70px;
	width: 100%;
	background-color: rgb(26,29,33)
}

.title {
	width: 100%;
	font-size: 2rem;
}

button.close {
	color: rgb(204,199,192);
	position: absolute;
    top: 0;
    right: 10px;
}

button.close:hover {
	color: #ebeff3
}

/* .custom {
	top: 10px;
	left: 200px;
} */