
.formGroup{
}

.formInputLabel {
    margin-top: 1rem;
}

.formInput {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	align-items: center;
	justify-content: space-between;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.nameDisplay {
    width: 80%;
    margin: 0;
}

.error {
    color: red;
}

.customControlLabel {
    cursor: pointer;
}


