.customButton{
    font-size: 1rem;
    background-color: rgb(29,28,28);
    color: rgb(209,210,211);
    font-weight: 500;
    border-color: rgb(209,210,211);
    border-width: 2px;
    height: 3rem;
    width: auto;
    min-width: 1rem;
    margin: .5rem;
}

.customButton:focus {
    outline:none;
}

.customButton:hover {
    background-color: #ebeff3;
	border-color: rgb(209,210,211);
	color:rgb(29,28,28);
}

	