.customButton, .enter{
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    width: auto;
    min-width: 1rem;
    margin: .5rem .5rem .5rem 0;
    background-color: rgb(0, 78, 58);
    color: rgb(216, 212, 207);
    border: none;
    border-radius: 4px;
    padding: 0px 30px;
    align-self: center;
}

.customButton:focus , .enter:focus{
    outline:none;
}

.customButton:hover {
    background-color: rgb(16, 106, 82);;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px
}

.delete {
    margin-left: 10px;
    position: absolute;
    right: 50px;
    top: 8px;
    color: rgb(119, 0, 0);
    background-color: rgb(26, 29, 33);
    border: none
}

.delete:hover {
    color: rgb(197, 0, 0);
    background-color: rgb(26, 29, 33);
}

.enter {
    float: right;
    background-color: rgb(78, 25, 84);
    margin-left: auto;
}

.enter:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px
}


	