.channelSideBar{
    background-color: #011F26;
    border-left: 2px solid #02313C; 
    grid-template-rows: auto 1fr;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #02313C;
    padding: 15px 0px;
}
.body{}

.sidebarUser {
    line-height: 0.87;
    padding-bottom: 3px;
    margin-left: 1px;
}
.sidebarItem {
    display: flex;
    align-items: center;
    padding-left: 0px;
    position: relative;
    bottom: 12px;
    width: 100%;
    padding: 1px 5px 1px 19px;
}