.chatHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	border-bottom: 2px solid #02313C;
}

.chatMemberDisplay{
	border: white solid 1px;
    border-radius: 25px;
    padding: 6px;
    margin-right: 10px;
}
