.chatHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px;
	border-bottom: 2px solid #02313C;
}

.chatMemberDisplay {
	border: white solid 1px;
    border-radius: 25px;
    padding: 7px;
	margin-right: 10px;
    font-size: 1em;
    right: 0;
	cursor: pointer;
}

.chatMemberDisplay:hover {
	background-color: white;
}
.nameDisplay {
	margin: 0;
}
