#sidebar {
    background-color: #011F26;
    border-right: 2px solid #02313C; 
}

.org-name-header {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #02313C;
}

.sidebar-body {
    grid-row-start: 2;
    grid-row-end:3;
    height: 87vh;
}

.sidebar-section-heading {
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 9px 20px;
    display: flex;
}

.sidebar-section-heading-expand {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
}

.sidebar-section-heading-label {
    color: #99a59e;
    font-size: 20px;
    font-weight: 800;
    flex: 1 1 0;
    display: block;
    text-align: left; 
}

.sidebar-section-heading-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    outline: none !important;
}

.sidebar-channel, .sidebar-user {
    padding: 3px 0px 3px 0px;
    font-size: 19px;
    color: #c3c3c3;
    font-weight: 800;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-icon {
    padding-right: 5px; 
    opacity: 0.7;
}

.channel-delete {
    float: right;
    padding-right: 5px;
    margin-top: 5px; 
    opacity: 0.7;
}

.sidebar-item {
    display: flex;
    padding-left: 0px;
    position: relative;
    bottom: 12px;
    width: 100%;
    padding: 0 auto;
}

.sidebar-item:hover {
    background-color: rgb(80, 84, 90);
}

.sidebar-item-highlight {
    background-color: #424242;
}

.invite-create-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-end {
    display: flex;
    align-items: flex-end;
    grid-row-start: 3;
    grid-row-end: 4;
}

.logout-wrapper {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    align-items: center;
    margin: auto;
}

.logout-btn {
    margin: 0 auto;
}

.login-circle {
    height: 10px;
    width: 10px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    left: 0px;
    top: 6px;
    padding: 5px;
    margin: 5px;
}

.logged-in {
    border: 1px solid black;
    background: #48d248;
    box-shadow: 0px 0px 20px 1px green;
    
}

/* .sidebar-body-wrapper {
    display: flex;
    overflow: auto;
    scrollbar-color: #c3c3c3 #1A1D21;
}

.sidebar-body-wrapper::-webkit-scrollbar {
    width: 0.1px !important;
}

.sidebar-body-wrapper::-webkit-scrollbar-track {
    background: transparent !important; 
}

.sidebar-body-wrapper::-webkit-scrollbar-thumb {
    background: transparent !important; 
}

.sidebar-body-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent !important; 
} */