.sidebar-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding: 0;
}

.sidebar {
    position: relative;
    height: 100vh;
    width: 100%;
}

.org-name {
    color: #c3c3c3;
    text-align: center;
    padding: 0 auto;
    border-bottom: 1px solid #02313C;
}

/* .org-name p {
    color: #c3c3c3;
    font-size: 25px;
    font-weight: 800;
} */

.sidebar-section-heading {
    padding: 9px 20px;
    display: flex;
}

.sidebar-section-heading-expand {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
}

.sidebar-section-heading-label {
    color: #99a59e;
    font-size: 20px;
    font-weight: 800;
    flex: 1 1 0;
    display: block;
    text-align: left; 
}

.sidebar-section-heading-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* padding: 0 8px; */
}

.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    outline: none !important;
}

.sidebar-channel, .sidebar-user {
    padding: 3px 0px 3px 0px;
    font-size: 19px;
    color: #c3c3c3;
    font-weight: 800;
}

.user-icon {
    float: left;
    padding-right: 5px;
    margin-top: 5px; 
    opacity: 0.7;
}

.channel-delete {
    float: right;
    padding-right: 5px;
    margin-top: 5px; 
    opacity: 0.7;
}

.sidebar-item:hover {
    background-color: rgb(80, 84, 90);
}

.sidebar-item-highlight {
    background-color: #424242;
}

.invite-create-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logout-wrapper {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.logout-btn {
    position: relative;
    bottom: 12px;
    width: 50%;
}