.sidebar {
    background-color: #011F26;
    border-right: 2px solid #02313C; 
    grid-template-rows: auto 1fr auto;
    width: 200px;
}

.orgNameHeader {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #02313C;
    padding: 15px 0px;
}

.orgOptions {
    margin-left: 10px;
    cursor: pointer;
}

.sidebarBody {
    grid-row-start: 2;
    grid-row-end:3;
    height: 83vh;
    padding: 10px;
}

.sidebarSectionHeading {
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 9px 0px 9px 3px;
    display: flex;
    margin: 0px 10px;
}

.sidebarSectionHeadingExpand {
    width: 21px;
    height: 26px;
    display: flex;
    align-items: center;
}

.sidebarSectionHeadingLabel {
    color: #99a59e;
    font-size: 20px;
    font-weight: 800;
    flex: 1 1 0;
    display: block;
    text-align: left; 
    margin-bottom: 3px;
}

.sidebarSectionHeadingRight {
    display: flex;
}

.unstyledButton {
    background: none;
    border: none;
    padding: 0;
    outline: none !important;
}

.sidebarChannel, .sidebarUser {
    margin: 0;
    color: #c3c3c3;
    font-weight: 800;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebarChannel {
    font-size: 20px;
    line-height: 1.2;
}

.sidebarUser {
    cursor: pointer;
    padding: 0 5px;
    font-size: 1rem;
    width: 100%;
}

.userIcon {
    padding-right: 5px; 
    opacity: 0.7;
    padding-left: 5px;
}

.channelDelete {
    padding-right: 5px;
    opacity: 0.7;
    position: absolute;
    right: 3px;
}

.sidebarItem {
    display: flex;
    align-items: center;
    padding-left: 0px;
    position: relative;
    bottom: 12px;
    width: 100%;
    padding: 1px 5px 1px 19px;
    margin-bottom: 2px;
}

.inviteCreateWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebarEnd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutWrapper {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    align-items: center;
    margin: auto;
}

.logoutBtn {
    margin: 0 auto;
}

.channelIcon {
    margin-left: 3px;
    margin-right: 5px;
}

.loginCircle {
    box-sizing: border-box;
    height: 11px;
    width: 12px;
    background: #6d6d6d;
    border-radius: 50%;
    margin: 5px;
}

.loggedIn {
    border: none;
    background: #48d248;
    box-shadow: 0px 0px 20px 1px green;
}

.orgName {
    margin: 0;
}

.channelName{
    display: flex;
    width: 80%;
    cursor: pointer;
}

.channelName:hover, .sidebarUser:hover {
    background-color: rgb(80, 84, 90);
}

.nameHighlight {
    background-color: #424242;
}

/* .sidebar-body-wrapper {
    display: flex;
    overflow: auto;
    scrollbar-color: #c3c3c3 #1A1D21;
}

.sidebar-body-wrapper::-webkit-scrollbar {
    width: 0.1px !important;
}

.sidebar-body-wrapper::-webkit-scrollbar-track {
    background: transparent !important; 
}

.sidebar-body-wrapper::-webkit-scrollbar-thumb {
    background: transparent !important; 
}

.sidebar-body-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent !important; 
} */