.input-outer {
    padding: 0px;
    background-color: #1A1D21;
    width: 100%;
}

textarea {
    background-color: #1A1D21 !important;
}

textarea[type=text]:focus{
    background-color: #1A1D21;
}

textarea::-webkit-input-placeholder {
    color: #c3c3c3 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #c3c3c3 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #c3c3c3 !important;
}

textarea:-ms-input-placeholder {
    color: #c3c3c3 !important;
}

textarea::placeholder {
    color: #c3c3c3 !important;
}