.orgs {
    position: relative;
    width: 100%;
}

.orgs-label {
    color: #c3c3c3;
    text-align: center;
    padding: 0 auto;
    border-bottom: 1px solid #02313C;
    /* font-size: 25px;
    font-weight: 800;
    padding: 15px 0px 10px 0px; */
}

.loading {
    color: #c3c3c3;
    text-align: center;
    padding: 0 auto;
}

.org-btns {
    padding-top: 20px;
}
