.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1D21;
    color: white;
}

.logo {
    margin-top: 20px;
    margin-bottom: 0px;
}
.green-color {
    background-color: #011F26;
    text-align: center;
}

.logo-col {
    border-top: 3px solid#02313C;
    border-left: 3px solid#02313C;
    border-right: 3px solid#02313C;
}

.form-col {
    border-left: 3px solid#02313C;
    border-right: 3px solid#02313C;
}