.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1D21;
    color: white;
    height: 100vh;
}

.logo {
    margin-top: 20px;
    margin-bottom: 0px;
}

.greenColor {
    background-color: #011F26;
    text-align: center;
}

.logoCol {
    border-top: 3px solid#02313C;
    border-left: 3px solid#02313C;
    border-right: 3px solid#02313C;
}

.formCol {
    border-left: 3px solid#02313C;
    border-right: 3px solid#02313C;
}

.formWrapper {
    text-align: center;
}

.btnCol {
    border-left: 3px solid#02313C;
    border-right: 3px solid#02313C;
    border-bottom: 3px solid#02313C;
}

.btnWrapper {
    flex-direction: column;
}