:root {
	--main-color: #5ea3d0;
	--secondary-color: white;
	--main-text-color: #3e5869;
	--secondary-text-color: #b0c7d6;
	--send-message-form: #f5f5f5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(26,29,33);
}

#root {
  	height: 100%;
}

.app {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
	grid-template-areas:
		"r m m m m m"
		"r m m m m m"
		"r m m m m m"
		"r m m m m m"
		"r m m m m m"
		"n s s s s s";
}

.message-list {
  	grid-area: m;
}

.input-message {
  	grid-area: s;
}

.message-list {
	box-sizing: border-box;
	padding-left: 6px;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background: var(--secondary-color);
}

.send-message-form {
	background: var(--send-message-form);
	display: flex;
}

.input-message input {
	width: 100%;
	padding: 15px 10px;
	margin: 0;
	border-style: none;
	background: var(--send-message-form);
	font-weight: 200;
}

* {
    box-sizing: border-box;
}

.modal-content {
	background-color: rgb(26,29,33);
	color: rgb(204,199,192);
	padding-bottom: 10px;
}

.close {
	position: absolute;
	top: 0;
	right: 5px;
	color: rgb(119, 0, 0);
    background-color: rgb(26, 29, 33);
	border: none;
}

.close:hover {
	color: rgb(197, 0, 0);
    background-color: rgb(26, 29, 33);
}

.modal-header .close {
	padding: 0px;
	margin: 0px;
	text-shadow: none;
	font-size: 2rem;
}
h1 {
    font-size:1.5em !important;
	margin: 0;
}

/* body {
    font-family: sans-serif;
    height: 100%;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: initial;
    color: #1d1c1d;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
} */
