.custom-button{
    font-size: .75rem;
	padding: 4px 8px;
	background-color: rgb(29,28,28);
	color: rgb(209,210,211);
	font-weight: 500;
	border-color: rgb(209,210,211);
	border-radius: 20px;
    border-width: 2px;
    margin: 0 20px 10px auto;

}

.custom-button:focus {
    outline:none;
}

.custom-button:hover {
    background-color: #ebeff3;
	border-color: rgb(209,210,211);
	color:rgb(29,28,28);
}